* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: lightsteelblue;
  display: flex;
  flex-direction: column;
  place-items: center;
}
main {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 15px;
  border-radius: 5px;
  margin: 2rem auto 1rem;
}
#display {
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
  padding: 0 0.5rem;
}
#prevScreen {
  min-height: 1.8rem;
  font-size: 1.5rem;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}
#currentScreen {
  min-height: 2.5rem;
  font-size: 2rem;
  text-align: right;
  font-weight: 900;
  word-wrap: break-word;
  word-break: break-all;
}
#calculatorBtns {
  width: 100%;
  min-height: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
  border-radius: 5px;
}
#clearBtn {
  grid-column: 1/3;
  background-color: lightblue;
}
#equalBtn {
  grid-column: 3/5;
  background-color: #008000ab;
  color: white;
}
button {
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: lightgrey;
  cursor: pointer;
  user-select: none;
}
#deleteBtn {
  background-color: #ff0000c5;
  color: white;
}
.operator {
  background-color: #ffa600e7;
}
footer {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.4rem;
  font-weight: 900;
}
a {
  text-decoration: none;
}
.bx {
  font-size: 1.5rem;
  color: black;
  transition: all 0.3s ease-in-out;
}
.bx:hover {
  transform: rotate(360deg);
}
.github {
  display: flex;
  place-items: center;
  justify-content: center;
}
#developer {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#developer:hover,
.github:hover {
  text-decoration: underline;
}
